Source: sox-noise
Section: sound
Priority: optional
Maintainer: Edward Jazzhands <ed.jazzhands@gmail.com>
Build-Depends: debhelper-compat (= 13), dh-python, python3-all, python3-setuptools, pybuild-plugin-pyproject, python3-build
Standards-Version: 4.6.2

Package: sox-noise
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, sox, python3-gi, libgtk-3-0, gir1.2-gtk-3.0
Description: Noise generator GUI powered by Sound eXchange (SoX)
 SoX Noise is a GTK application that uses SoX to generate white, pink,
 or brown noise in real time, as well as provide some filter controls
 and basic effects.
 .
 It provides a simple interface for choosing the noise type and
 adjusting the controls. It is extremely lightweight on CPU, making it
 well suited to running continuously in the background, even on older
 or lower-powered machines.